html{
    height:100%;
}

body{
    display: flex;
    flex-direction:column;
    margin: 0;
    min-height: 100%;
    background-color: white;
    background-image: url(Images/biggerWOK.jpg);
    background-position-x: 50%;
    font-family:Arial, Helvetica, sans-serif;
    color: white;
}
header{
    background-color: black;
    border-top-left-radius:10px;
    border-top-right-radius:10px;
    text-align: center;
    margin: auto;
    padding-bottom: 10px;
    flex: 0 90px;
    width:90%;
}
footer{
    background-color: black;
    border-bottom-left-radius:10px;
    border-bottom-right-radius:10px;
    margin: auto;
    flex: 0 30px;
    width:90%;
}
main{
    flex: 100%;
    display: flex;
    background-color: #1A1A1A;
    margin: auto;
    width:90%;
    top:100px;
}
#index{
    flex-direction: row;
}
section{
    background-color: #4A4A4A;
    border-radius:10px;
    margin:20px;
}
ul{
    background-color: lightgrey;
    border-radius:10px;
    margin:20px;
    padding:10px;
    color: black;
}
form{
    background-color: lightgrey;
    border-radius:10px;
    margin:20px;
    padding:10px;
    color: black;
}
table, th, td{
    border: 1px solid white;
}
table{
    width:50%;
    position:fixed;
    left: 25%;
    text-align: center;
}
fieldset{
    margin:10px;
}
#SearchBox{
    width: 75%;
}
#Notifications{
    width: 25%;
}
#Notifications h2{
    text-align: center;
}
p.alert{
    color: red;
    
}
h2.instruction{
    text-align: center;
}
#profile{
    flex: 1;
}
